<%= form_for @userinput do |f| %>
  <% if @userinput.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@userinput.errors.count, "error") %> prohibited this userinput from being saved:</h2>

      <ul>
      <% @userinput.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.text_field :location1, placeholder: "Where would you like to center the map?" %>
  </div>
  <div class="field form-group">
    <%= f.label :latitude1 %><br>
    <%= f.text_field :latitude1, class: "form-control" %>
  </div>
   <div class="field form-group">
    <%= f.label :longitude1 %><br>
    <%= f.text_field :longitude1, class: "form-control" %>
  </div>
  <% if current_page?('/userinputs/map') %>
    <div class="field">
      <%= f.text_field :location2, placeholder: "Name of new polygon:" %>
    </div>
  <% end %>
  <!-- <div class="field form-group">
    <%#= f.label :location3 %><br>
    <%#= f.text_field :location3 %>
  </div> -->
 <!--    <div class="field form-group">
    <%#= f.label :latitude3 %><br>
    <%#= f.text_field :latitude3, class: "form-control" %>
  </div>
   <div class="field form-group">
    <%#= f.label :longitude3 %><br>
    <%#= f.text_field :longitude3, class: "form-control" %>
  </div> -->
  <div class="actions">
    <%= f.submit "Go!" %>
  </div>
<% end %>
