<p id="notice"><%= notice %></p>

<p>
  <strong>Location1:</strong>
  <%= @userinput.location1 %>
</p>


<%= link_to 'Edit', edit_userinput_path(@userinput) %> |
<%= link_to 'Back', userinputs_path %>

<%= javascript_tag do %>
 latitude = '<%= j @userinput.latitude.to_s %>';
 longitude = '<%= j @userinput.longitude.to_s %>';
<% end %>

<% render 'welcome/drawpoly'

