<p id="notice"><%= notice %></p>

<p>
  <strong>Location1:</strong>
  <%= @userinput.location1 %>
</p>

<p>
  <strong>Location2:</strong>
  <%= @userinput.location2 %>
</p>

<p>
  <strong>Location3:</strong>
  <%= @userinput.location3 %>
</p>

<%= link_to 'Edit', edit_userinput_path(@userinput) %> |
<%= link_to 'Back', userinputs_path %>
