<!DOCTYPE html>
<html>
<head>
  <title>Final Project</title>
  <%= Gon::Base.render_data({}) %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>



</head>
<body>


	<div class="jumbotron">
    <h2>Alison's Final Project</h2>
		<h6>We're all part centaur</h6>
  </div>

<!-- <div class="container col-md-5"> -->
	<%= yield %>
<!-- </div> -->
	<%#= render 'mapform' %>

</script>

</body>
</html>
